* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#vertical_line {
  height: 70px;
  border: 1px solid rgb(231, 231, 231);
}
#nav_delivery > h5 {
  margin: 0px;
  font-weight: 800;
}
#nav_delivery > p {
  margin: 0px;
}
#search_div {
  border: 1px solid #eeeeee;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding-inline: 10px;
  width: 40vw;
}
#search_div > input {
  border: none;
  background-color: transparent;
  width: 95%;
  height: 45px;
}
.hero-section>img{
  width: 85vw;
}
#categories-section {
  width: 85vw;
  margin: auto;
  margin-top: 20px;
}
.cards-Section,
.category-section {
  width: 80vw;
  margin: auto;
  margin-top: 20px;
}
/* .category-section >h2{
  margin-bottom: 0px;
} */
.scrollable-div {
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}
.scrollable-div > img {
  display: inline;
}
.my-card {
  width: 200px;
  display: inline-block !important;
  margin-right: 20px;
  margin-top: 30px;
}
.time-div {
  width: fit-content;
  background-color: #f8f8f8;
  font-weight: 700;
  border-radius: 5px;
  padding-inline: 5px;
}
.product-tittle {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.product-weight {
  color: #6a6a6a;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

/* blinkit clone at 02:05:00 done successfully */
