* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#vertical_line {
  height: 70px;
  border: 1px solid rgb(231, 231, 231);
}
#nav_delivery > h5 {
  margin: 0px;
  font-weight: 800;
}
#nav_delivery > p {
  margin: 0px;
}
#search_div {
  border: 1px solid #eeeeee;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding-inline: 10px;
  width: 40vw;
}
#search_div > input {
  border: none;
  background-color: transparent;
  width: 95%;
  height: 45px;
}
.hero-section > img {
  width: 85vw;
}
#categories-section {
  width: 85vw;
  margin: auto;
  margin-top: 20px;
}
.cards-Section,
.category-section,
footer {
  width: 80vw;
  margin: auto;
  margin-top: 20px;
}
.scrollable-div {
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}
.scrollable-div > img {
  display: inline;
}
.my-card {
  width: 200px;
  display: inline-block !important;
  margin-right: 20px;
  margin-top: 30px;
}
.time-div {
  width: fit-content;
  background-color: #f8f8f8;
  font-weight: 700;
  border-radius: 5px;
  padding-inline: 5px;
}
.product-tittle {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.product-weight {
  color: #6a6a6a;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
#footer-r1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}
#footer-table1 {
  flex: 2;
}
#footer-table2 {
  flex: 3;
}
table {
  width: 100%;
}
td {
  color: #6a6a6a;
  font-size: 14px;
  line-height: 2;
}
#footer-r2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#footer-r2 > p {
  width: 40%;
  color: #6a6a6a;
  font-size: 15px;
  text-align: justify;
  margin: 0;
}
#social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#downloads {
  display: flex;
  justify-content: center;
  align-items: center;
}
#downloads > p {
  margin: 0;
  padding: 0;
  color: #6a6a6a;
  font-weight: 900;
  padding: 20px;
}
#downloads > img {
  margin: 10px;
}
.social-icons {
  width: 50px;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  margin-inline: 10px;
  font-size: 25px;
}
#footer-r3 {
  color: #6a6a6a;
  font-size: 15px;
  text-align: justify;
}

/* Media Queries */
@media screen and (max-width:768px){
nav{
  flex-direction: column;
  padding: 10px;
}
#nav_delivery{
  text-align: center;
}
#vertical_line{
  display: none;
}
#search_div{
  width: 90vw;
}
#search_div>input{
width: auto;
}
#hero-section{
  display: none !important;
}
.cards-Section{
margin-top: 30px !important;
}

#footer-r1{
  flex-direction: column;
  align-items: center;
}
#footer-table1,#footer-table2{
  width: 100%;
}
/* td{
  text-align: center;
} */
#footer-r2{
  flex-direction: column;
  align-items: center;
}
#footer-r2>p{
  width: 100%;
}
#social-links{
  margin-bottom: 20px;
}
#downloads>p{
  text-align: center;
}
}

/* blinkit clone at 03:00:00 done successfully */
/* revision to be done Git & Github*/
